Source: libapache2-mod-proctitle
Maintainer: s3rj1k <evasive.gyron@gmail.com>
Section: httpd
Priority: extra
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9), dh-apache2, apache2-dev (>= 2.4.2-1~)
Homepage: https://github.com/s3rj1k/mod_proctitle

Package: libapache2-mod-proctitle
Architecture: any
Depends: apache2 | apache2-mpm-prefork, ${shlibs:Depends}, ${misc:Depends}
Description: module for Apache2 which sets process name.
 This extension allows changing the current process name.
